# dependencies
/node_modules
/js/bundle.js
/js/bundle.js.map
/js/node_modules_node-fetch_src_utils_multipart-parser_js.bundle.js
/js/node_modules_node-fetch_src_utils_multipart-parser_js.bundle.js.map

/dist
/.parcel-cache



# testing

